SUPABASE_URL=https://oavuxlzxzowryfyhnwgn.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9hdnV4bHp4em93cnlmeWhud2duIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc4Njk4NzYsImV4cCI6MjEwMzQ0NTg3Nn0.vHSlo6PyRD2vtbGO2L1_E4h78lVQBbWAwrYHZeK_ALs
